html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h4,
h5,
h3,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

span {
  display: inline-block;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #6B6B6B;
  font-size: 16px;
}

main {
  padding: 0 15px;
}

@media only screen and (min-width: 768px) {
  main {
    padding: 0px;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0px 15px;
  }
}

.main-title {
  color: #444;
  font-size: 24px;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  text-align: center;
}

.logo a {
  font-size: 30px;
  color: #1FA67A;
  display: inline-block;
  text-decoration: none;
  padding: 15px 0px;
  transition: 0.5s;
}

.logo a:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .logo a {
    padding: 10px 0px;
  }
}

.main-nav {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .main-nav {
    margin-bottom: 0;
  }
}

.main-nav {
  min-height: 50px;
  background: #1FA67A;
  width: 100%;
  position: relative;
}

.main-nav_burger {
  position: absolute;
  left: 15px;
  top: 13px;
  width: 33px;
  height: 23px;
  background: url(../img/burger.png) no-repeat;
  transition: 0.5s;
  cursor: pointer;
}

.main-nav_burger:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .main-nav {
    background: none;
    width: unset;
  }
  .main-nav_burger {
    display: none;
  }
}

.main-nav ul {
  text-align: center;
  display: none;
  padding-top: 50px;
}

@media only screen and (min-width: 768px) {
  .main-nav ul {
    display: flex !important;
    justify-content: space-between;
    padding-top: 0;
  }
}

.main-nav ul li {
  border-bottom: 1px solid white;
}

@media only screen and (min-width: 768px) {
  .main-nav ul li {
    border-bottom: none;
  }
}

.main-nav ul li:first-child {
  border-top: 1px solid white;
}

@media only screen and (min-width: 768px) {
  .main-nav ul li:first-child {
    border-top: none;
  }
}

.main-nav_link {
  color: white;
  display: inline-block;
  padding: 15px 0px;
  background: #1FA67A;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

.main-nav_link:hover {
  background: #3AC195;
}

@media only screen and (min-width: 768px) {
  .main-nav_link {
    background: white;
    display: inline-block;
    color: #1FA67A;
    padding: 19px 15px;
  }
  .main-nav_link:hover {
    background: #3AC195;
    color: white;
  }
  .main-nav .active {
    background: #3AC195;
    color: white;
  }
}

.slider-wrap {
  display: none;
}

@media only screen and (min-width: 768px) {
  .slider-wrap {
    display: block;
    margin-bottom: 60px;
  }
}

.promo_slider .disabled {
  display: block;
}

.promo_slider .nav-left {
  background: url(../img/nav-left.png) no-repeat;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: none;
}

.promo_slider .nav-left:hover {
  opacity: 1;
}

.promo_slider .nav-right {
  background: url(../img/nav-right.png) no-repeat;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: none;
}

.promo_slider .nav-right:hover {
  opacity: 1;
}

.promo_slider .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.promo_slider .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 10px;
}

.promo_slider .owl-dots .owl-dot span {
  float: left;
  display: inline-block;
  border-radius: 10em;
  background: #fff;
  width: 12px;
  height: 12px;
  background: black;
  opacity: 0.5;
}

.promo_slider .owl-dots .active span {
  opacity: 1;
  border-radius: 10em;
}

.blog-box {
  display: flex;
  justify-content: space-between;
}

.blog-box_content {
  max-width: 750px;
  margin: 0 auto;
}

.blog-box_item .main-title {
  padding-bottom: 10px;
}

.blog-box_img {
  max-width: 366px;
  border: 1px solid #EEEEEE;
  padding: 4px 4px 0px 4px;
  border-radius: 5px;
}

.blog-box_article {
  max-width: 360px;
  padding-top: 20px;
  text-align: right;
}

@media only screen and (min-width: 762px) {
  .blog-box_article {
    padding-left: 20px;
    padding-top: 0;
  }
}

.blog-box_article p {
  text-align: left;
}

.blog-box_img img {
  width: 100%;
  height: auto;
}

.blog-box_item__inner {
  margin-bottom: 40px;
  padding: 15px 0px 25px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

@media only screen and (min-width: 768px) {
  .blog-box_item__inner {
    display: flex;
    justify-content: space-between;
    padding: 22px 0px 55px;
  }
}

.blog-box span {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
  font-size: 14px;
}

.blog-box span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  background: url(../img/calendar.svg) no-repeat;
  background-size: cover;
}

.blog-box_btn {
  display: inline-block;
  border: 1px solid #E8E8E8;
  color: #1FA67A;
  background-color: transparent;
  margin-top: 10px;
  text-decoration: none;
  padding: 5px 16px;
  border-radius: 5px;
  transition: 0.5s;
}

.blog-box_btn:hover {
  color: white;
  background: #1FA67A;
}

.blog-box_sidebar {
  display: none;
  width: 360px;
  outline: 1px solid red;
}

@media only screen and (min-width: 992px) {
  .blog-box_sidebar {
    display: block;
  }
}

.pagination ul {
  display: flex;
  flex-wrap: wrap;
}

.pagination li:not(:last-child) {
  margin-right: 10px;
}

.pagination li {
  margin-bottom: 5px;
}

.pagination li a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #E9E9E9;
  color: #1FA67A;
  padding: 15px;
  padding: 2px 10px;
  transition: 0.5s;
}

.pagination li a:hover {
  background: #1FA67A;
  color: white;
  border: 1px solid #1FA67A;
}

@media only screen and (min-width: 768px) {
  .pagination li a {
    padding: 7px 15px;
  }
}

.pagination .active {
  background: #1FA67A;
  color: white;
  border: 1px solid #1FA67A;
}
/*# sourceMappingURL=style.css.map */